<ng-container *ngIf="collection else noneSelected">
    <img *ngIf="collection?.iconURL" [src]="collection.iconURL">
    <div class="collection-details">
        <h3 class="collection-title">{{collection.name}}</h3>
        <mat-list>
            <mat-list-item lines="3">
                <span matListItemTitle>Beschreibung</span>
                <span>{{collection.collection.description || "leer"}}</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle>erstellt von</span>
                <span matListItemLine>{{creatorName}}</span>
            </mat-list-item>
        </mat-list>
    </div>
</ng-container>
<ng-template #noneSelected>
    <div class="no-c-selected">
        <h3 class="no-c-title">Keine Sammlung ausgewählt</h3>
    </div>
</ng-template>