<mat-sidenav-container>
    <mat-sidenav *ngIf="!isMobileLayout else mobileCollection" mode="side" position="end" opened>
        <app-collection-view [collection]="selection"></app-collection-view>
    </mat-sidenav>
    <mat-sidenav-content [class.mobile-sidenav-content]="isMobileLayout">
        <app-tree-view [class.mobile-tree-view]="isMobileLayout" (nodeSelectionEvent)="setSelection($event)"></app-tree-view>
    </mat-sidenav-content>
    <ng-template #mobileCollection>
        <div class="mobile-collection-view">
            <app-collection-view [collection]="selection"></app-collection-view>
        </div>
    </ng-template>
</mat-sidenav-container>
<app-footer></app-footer>
<router-outlet></router-outlet>