.example-tree-progress-bar {
    margin-left: 30px;
}

mat-tree-node {
    white-space: nowrap;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
 .leaf-padding {
    padding: 0 24px;
}