.example-tree-progress-bar {
    margin: 0 30px;
    flex: 25 1 0px;
}

mat-spinner {
    margin: auto;
}

mat-tree {
    width: 100%;
}

button {
    margin: 4px;
}

mat-tree-node {
    cursor: pointer;
}

mat-tree-node span {
    flex: 1 1 max-content
}

mat-tree-node:first-child {
    padding-top: 16px;
}

mat-tree-node:last-child {
    padding-bottom: 16px;
}

mat-tree-node:hover {
    transition: all 0.3s;
    background-color: #bebebe;
    color: white;
}

.selected {
    transition: all 0.2s;
    background-color: #969696;
    color: white;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
 .leaf-padding {
    padding: 0 28px;
}